{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-remove-strict-mode"
  ],
  "env": {
    "start": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
