@import "../../var";

.tab-selector {
  width: 100%;
  white-space: nowrap;
  display: flex;
  color: $sub-font-color;
  font-size: $middle-font-size;
  line-height: 16px;
  border-bottom: 2px solid $light-bg-border-color;
  overflow: hidden;

  &:hover {
    overflow-x: auto;
  }

  .tab-item {
    flex: 1;
    max-width: 158px;
    min-width: 45px;
    padding: 10px 8px;
    cursor: default;
    margin-right: 4px;
    background-color: $sub-title-background-color;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;

    span {
      display: inline-block;
      overflow: hidden;
      width: calc(100% - 30px);
      box-sizing: border-box;
      position: absolute;
      left: 8px;
    }

    i {
      position: absolute;
      right: 8px;
      cursor: pointer;

      &:hover {
        color: $default-button-color;
      }
    }
  }

  .active {
    color: $default-white-color;
    background-color: $default-title-background-color;
  }

  .add-item {
    margin: 5px 4px;
    min-width: 26px;
    width: 26px;
    height: 26px;
    background-color: $sub-title-background-color;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;

    i {
      line-height: 26px;
      font-size: $default-font-size;
    }
  }
}
