@import "../../var";

.search-input {
  text-align: center;
  background-color: $sub-background-color;

  > input,
  .icon-search {
    transition: all 300ms ease;
    background-color: inherit;
    display: inline-block;
    vertical-align: top;
  }
}
