@import "../../var";

.label-input {
  background-color: $input-background-color;
  border-radius: 2px;
  padding: 4px 8px 0;
  box-sizing: border-box;
  width: 300px;
  white-space: normal;
  overflow: hidden;

  &:hover {
    overflow: auto;
  }

  &.error-border {
    border: 1px solid $default-error-color;
  }

  .prompt {
    // position: absolute;;
    float: right;
    padding-top: 2px;
    line-height: $default-line-height;
    font-size: $min-font-size;
    color: $default-error-color;
  }

  .label-container {
    float: left;
    padding: 0 4px;
    height: $default-line-height;
    line-height: $default-line-height;
    background-color: $default-background-color;
    color: $default-white-color;
    font-size: $small-font-size;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 2px;

    span {
      margin-right: 8px;
    }

    .iconfont {
      cursor: pointer;
      float: right;

      &:hover {
        color: $default-button-color;
      }
    }
  }

  &.disabled {
    .label-container {
      color: $disabled-button-font-color;
    }

    .iconfont {
      cursor: not-allowed;
      color: $disabled-button-color;

      &:hover {
        color: $disabled-button-color;
      }
    }
  }

  input {
    float: left;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 4px;
    height: 20px;
    line-height: 20px;

    &:focus {
      border: none;
    }
  }
}
