@import "../../var";

.dialog-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 199;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: rgba($default-black-color, 0.4);

  .dialog-container {
    width: 592px;
    background-color: $default-background-color;
    border-radius: 2px;

    .dialog-title {
      height: 48px;
      padding: 12px;
      line-height: 24px;
      box-sizing: border-box;
      text-indent: 12px;
      position: relative;

      > span {
        font-size: $title-font-size;
        color: $default-white-color;
      }

      > i {
        font-size: $default-font-size;
        float: right;
      }

      > .icon-cross {
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }

    .dialog-content {
      padding: 24px;

      .dialog-btns {
        text-align: center;
        margin-top: 24px;

        button {
          width: 69px;
          height: 32px;
          padding: 5px;
          box-sizing: border-box;
          line-height: 20px;
          border-radius: 2px;
          font-size: $default-font-size;
          text-align: center;
          border: 1px solid $default-button-color;
          margin-right: 18px;

          &:last-child {
            margin-right: 0;
          }
        }

        .default-btn {
          background-color: $default-button-color;
          color: $default-white-color;

          &:hover {
            background-color: $default-button-hover-color;
            border: 1px solid $default-button-hover-color;
          }

          &.disabled {
            background-color: #525e7f;
            border: 1px solid #525e7f;
            color: #8692ad;
          }
        }

        .cancel-btn {
          background-color: transparent;
          color: $default-button-color;

          &:hover {
            background-color: $default-button-color;
            color: $default-white-color;
          }
        }
      }
    }
  }
}
